.tra {
  top: 15%;
  left: 40%;
  font-size: 38px;
  position: absolute;
  text-shadow: 2px 2px #e4b639d2;
}

.card1 {
  top: 25%;
  left: 10%;
  position: absolute;
  border-radius: 10px;
}

.card2 {
  top: 25%;
  left: 36%;
  position: absolute;
}

.card3 {
  top: 25%;
  left: 62%;
  position: absolute;
}

.nut {
  top: 65%;
  left: 35%;
  font-size: 38px;
  position: absolute;
  text-shadow: 2px 2px #e4b639d2;
}

.card4 {
  top: 75%;
  left: 22%;
  position: absolute;
}

.card6 {
  top: 75%;
  left: 48%;
  position: absolute;
}
